.card2 {
  min-width: 320px;
  max-width: 320px;
    margin: 10px;
    border-radius: 20px;
    padding: 8px;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
.card2 .top-sectionn {
    height: 230px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-right-radius: 20px;
  }

  .bordern {
    position: absolute;
    /* bottom: -50px; */
    bottom: -14px;
    right: -5px; /* Ensure it's in the bottom-right */
    border-top-left-radius: 4px;
    /* border-top-right-radius: 25px; Adding curve at top-right */
    height: 50px;
    width: 120px;
    border-top: 8px solid #e2e8f0;
    border-left: 12px solid #e2e8f0;
    background: #ffffff;
    transform: skew(-45deg); /* Match the top skew but mirrored */
    box-shadow: 10px 10px 0 0 #ffffff;
}

.bordern::before {
    content: "";
    position: absolute;
    bottom: 100%; /* Moves it above the border2 div */
    right: -16px; /* Slightly shifts it right for alignment */
    width: 16px;
    height: 10px;
    
    background: #ffffff;
    border-radius: -10%;
    box-shadow: -5px 5px 0 2px #ffffff; /* Flipped shadow for an upward effect */
}
  
  .card2 .top-sectionn::before {
    content: "";
    position: absolute;
    border-right: 10px solid #e2e8f0;
    border-bottom: 8px solid #e2e8f0;
    top: -8px;
    left: -8px;
    /* border-bottom-right-radius: 10px; */
    background: #e2e8f0;
    height: 40px;
    width: 120px;
    border-top-left-radius: -22px;
    transform: skew(-35deg);
    box-shadow: -5px -5px 0 2px #e2e8f0;
  }

/* Dark Mode Overrides */
.dark .card2 .top-sectionn::before {
    border-right-color: #161616;
    border-bottom-color: #161616;
    background: #161616;
    box-shadow: -5px -5px 0 2px #161616;
}

.dark .bordern {
    border-top-color: #161616;
    border-left-color: #161616;
    background: #000000;
    box-shadow: 10px 10px 0 0 #000000;
}

.dark .bordern::before {
    background: #000000;
    box-shadow: -5px 5px 0 2px #000000;
}